@import url("https://fonts.googleapis.com/css?family=Hind");

/*--- Body Font --*/

@import url("https://fonts.googleapis.com/css?family=Nobile");

/*--- Heading Font --*/

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 8px;
    min-height: 20px;
    border-bottom: #2267AB 4px solid;
    position: fixed;
    width: 100%;
    z-index: 8;
}

header a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    margin-top: 10px;
}

header .highlight, header .active a {
    color: #6096CC;
}

header a:hover {
    color: #2563A1;
    border-radius: 10px;
}


.icon-bar {
    background-color: #ffffff;
}

h1 {
    font-family: 'Noble', sans-serif;
    text-align: center;
    font-size: 155%;
    color: #4A4444;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0;
}

h3 {
    font-family: 'Noble', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #4A4444;
    text-transform: uppercase;
    letter-spacing: 1%;
}

p {
    padding: 2%;
    color: #4A4444;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 5px 4px 12px;
}

#banner-wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.slider {
    width: auto;
    height: 100%;
    overflow: hidden;
}

.slider1 img {
    min-width: 100%;
    margin: 0 auto;
}

.slider .bx-wrapper .bx-controls-direction a {
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    height: 71px;
    width: 40px;
    z-index: -1;
    transition: all 0.5s;
}

.slider .bx-wrapper:hover .bx-controls-direction a {
    z-index: 5;
}

.slider .bx-wrapper .bx-prev {
    background: #000 url("img/left-arrow-white.png") no-repeat 8px 13px;
    left: 0px;
    opacity: 0.3;
}

.slider .bx-wrapper .bx-prev:hover {
    opacity: 0.8;
}

.slider .bx-wrapper .bx-next {
    background: #000 url("img/right-arrow-white.png") no-repeat 10px 13px;
    right: 0px;
    opacity: 0.3;
}

.slider .bx-wrapper .bx-next:hover {
    opacity: 0.8;
}

.one-half {
    width: 44%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
}

.one-third {
    width: 28%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
}

.left-col {
    width: 60%;
    float: left;
    margin: 4% 0 4% 0;
}

.sidebar {
    width: 26%;
    float: right;
    margin: 4% 4%;
}

.sidebar img {
    opacity: 0.9;
}

.clearfix {
    clear: both;
}

.parallax-1 {
    background: url("https://www.w3newbie.com/wp-content/uploads/parallax-2.jpg") repeat fixed 100%;
    text-align: center;
}

.parallax-inner {
    padding-top: 90px;
    padding-bottom: 300px;
}

.parallax-2 {
    background: url("https://www.w3newbie.com/wp-content/uploads/black-pattern.jpg") repeat fixed 100%;
    text-align: center;
}

.parallax-inner h3, .parallax-inner p {
    color: #F1F1F1;
}

footer {
    background: #35424a;
    width: 100%;
    opacity: 0.9;
    margin-top: 0%;
    padding: 0 0;
    overflow: auto;
}

footer p {
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 768px) {
    body, header, header nav, header nav li {
        text-align: center;
        width: 100%;
    }
    .slider .bx-wrapper .bx-controls {
        display: none;
    }
    .parallax-inner {
        display: none;
    }
    .one-third {
        width: 100%;
        margin: 4% 0;
    }
    .one-half {
        display: none;
    }
    h1 {
        font-size: 125%;
    }
    .left-col {
        width: 100%;
        margin: 0 0 3% 0;
    }
    .sidebar {
        width: 100%;
        margin: 0;
    }
    img {
        width: 100%;
        height: 20%;
    }
    h3 {
        padding-top: 3%;
    }
    p  {
        padding-right: 3px;
    }
}
